<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Examina</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- font awsome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <!-- Remove the lines below and add your code here as this is the index page -->
    <!-- header section starts  -->
    <header>

        <div id="menu" class="fas fa-bars"></div>


        <a href="#" class="logo"><i class="fas fa-user-graduate"></i>EXAMINA</a>

        <nav class="navbar">
            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#course">Course</a></li>
                <li><a href="#teacher">Teacher</a></li>
                <li><a href="#contact">Contact</a></li>
                <!-- Default dropright button -->
                <div class="btn-group dropright">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Services
                    </button>
                    <div class="dropdown-menu">
                        <!-- Dropdown menu links -->
                    </div>
                </div>
            </ul>
        </nav>

        <div id="login" class="fas fa-user-key"></div>
    </header>
    </header>
    <!-- header section ends -->
</body>

</html>