<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXAMIA</title>

    <!-- google font cdn link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- font awsome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="../templates/css/main.css">


</head>

<body>

    <!-- header section starts -->
    <header>

        <div id="menu" class="fas fa-bars"></div>


        <a href="#" class="logo"><i class="fas fa-user-graduate"></i>EXAMINA</a>

        <nav class="navbar">
            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#course">Course</a></li>
                <li><a href="#teacher">Teacher</a></li>
                <div class="btn-group dropright ml-2 mt-5">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Services
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
            </ul>
        </nav>

        <div id="login" class="fas fa-user-circle"> Login</div>
    </header>
    <!-- header section ends  -->


    <!-- login form  -->

    <!-- login form ends  -->

    <!-- home section starts  -->
    <section class="home" id="home">
        <h1>Education From Home</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quo vero provident praesentium velit
            animi nulla dolorem! Veritatis, rem mollitia magnam doloribus quod repudiandae porro dolore modi molestias
            labore! Eaque!</p>
        <a href="#"><button class="btn">get Started</button></a>

        <div class="shape"></div>


    </section>
    <!-- home section ends  -->

    <!-- about section starts  -->
    <section class="about" id="about">
        <div class="image">
            <img src="../templates/images/Studying-cuate.png" alt="">
        </div>
        <div class="content">
            <h3>Why Choose Us?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eius quibusdam quos labore? Neque sequi
                aliquam sunt quam, soluta voluptate.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem beatae fugiat sequi quisquam ducimus
                tempore incidunt voluptate, pariatur ea error iste odit repudiandae minima, placeat perspiciatis, iusto
                minus est aspernatur.</p>
            <a href="#"><button class="btn">learn more</button></a>
        </div>
    </section>
    <!-- about section ends  -->

    <!-- teacher section starts  -->
    <section class="teacher" id="teacher">
        <h1 class="heading">our expert facility</h1>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error eius magnam, inventore aut assumenda
            explicabo quos illum quas iusto sunt eos hic rem nulla numquam natus tempora quod non voluptate.</p>

        <a href="#"><button class="btn">learn more</button></a>

    </section>
    <!-- teacher section ends  -->
    <!-- footer section starts  -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-2">
                    <img src="../templates/images/download.jpg" style="width: 20%;">
                    <br><br><br><br>
                    <p> Education rewards us with a bunch of knowledge. Education brings a feeling of similarity among
                        people.</p>
                </div>
                <div class="footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li style="color: blue; font-size: medium;">Faceebok</li>
                        <li style="color:#8a3ab9; font-size: medium;">Instagram</li>
                        <li style="color:rgb(29,161,242); font-size: medium;">Twitter</li>
                        <li style="color: Red; font-size: medium;">Youtuber</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class=" copyright">&#169; 2021-Samarth Saluja</p>
        </div>
    </div>
    <!-- footer section ends  -->
    <!-- jquery cdn link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- custom js file link  -->
    <script src="../templates/js/mian.js"></script>
</body>

</html>