<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Education Website</title>

    <!-- google font cdn link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- font awsome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="../templates/css/main.css">


</head>

<body>

    <!-- header section starts -->
    <header>

        <div id="menu" class="fas fa-bars"></div>


        <a href="#" class="logo"><i class="fas fa-user-graduate"></i>EXAMINA</a>

        <nav class="navbar">
            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#course">Course</a></li>
                <li><a href="#teacher">Teacher</a></li>
                <li><a href="#contact">Contact</a></li>
                <!-- Default dropright button -->
                <div class="btn-group dropright">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Services
                    </button>
                    <div class="dropdown-menu">
                        <!-- Dropdown menu links -->

                    </div>
                </div>
            </ul>
        </nav>

        <div id="login" class="fas fa-user-key"></div>
    </header>
    <!-- header section ends  -->


    <!-- login form  -->


    <!-- login form ends  -->

    <!-- home section starts  -->
    <section class="home" id="home">
        <h1>Education From Home</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quo vero provident praesentium velit
            animi nulla dolorem! Veritatis, rem mollitia magnam doloribus quod repudiandae porro dolore modi molestias
            labore! Eaque!</p>
        <a href="#"><button class="btn">get Started</button></a>

        <div class="shape"></div>


    </section>
    <!-- home section ends  -->

    <!-- about section starts  -->
    <section class="about" id="about">
        <div class="image">
            <img src="./images/Studying-cuate.png" alt="">
        </div>
        <div class="content">
            <h3>Why Choose Us?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eius quibusdam quos labore? Neque sequi
                aliquam sunt quam, soluta voluptate.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem beatae fugiat sequi quisquam ducimus
                tempore incidunt voluptate, pariatur ea error iste odit repudiandae minima, placeat perspiciatis, iusto
                minus est aspernatur.</p>
            <a href="#"><button class="btn">learn more</button></a>
        </div>
    </section>
    <!-- about section ends  -->

    <!-- teacher section starts  -->
    <section class="teacher" id="teacher">
        <h1 class="heading">our expert teacher</h1>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error eius magnam, inventore aut assumenda
            explicabo quos illum quas iusto sunt eos hic rem nulla numquam natus tempora quod non voluptate.</p>

        <a href="#"><button class="btn">learn more</button></a>

    </section>
    <!-- teacher section ends  -->


    <!-- contact section starts  -->
    <section class="contact" id="contact">
        <h1 class="heading">Contact Us</h1>

        <div class="row">
            <form action="">
                <input type="text" placeholder="full name" class="box">
                <input type="email" placeholder="your email" class="box">
                <input type="password" placeholder="your password" class="box">
                <input type="number" placeholder="your number" class="box">
                <textarea name="" id="" cols="30" rows="10" class="box address" placeholder="your address"></textarea>
                <input type="submit" class="btn" value="send now">
            </form>

            <div class="image">
                <img src="./images/contact-img.png" alt="">
            </div>
        </div>
    </section>
    <!-- contact section ends  -->








    <!-- jquery cdn link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- custom js file link  -->
    <script src="../templates/js/mian.js"></script>
</body>

</html>